@model IEnumerable<WebApplication8.Models.Ilce>
@{
    ViewBag.Title = "İlçe";
}

<h2>İlçe Bilgileri</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>İlçe Adı</th>
       
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var ilce in Model)
            {
                <tr>
                    <td>@ilce.ilceAdi</td>
                  
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" style="text-align:center;">Henüz ilçe bilgisi bulunmamaktadır.</td>
            </tr>
        }
    </tbody>
</table>

